/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  *= require simple_calendar
 */

 body{
  margin: 0;
  padding: 0;
}


/* ヘッダー */
header{
}
.container{
  width:98%;
  margin: 0 auto;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.header-left{
  display: flex;
  align-items: center;
  width: 60%;
 
}
.title{
 color: black;
 text-decoration: none;
 margin-right: 10px;
}
.header-right{
 display: inline-block
}
.login, .logout, .top-about, .client, .client_all,.signin, .response-trainer{
 color: #4b4b4b;
 font-weight: 700;
 font-size: 13px;
 padding: 8px 6px;
 text-decoration: none;
}
.top-about:hover{
 color: black
}
.client-list:hover{
  color: black
}

.login:hover{
 color: black
}
.logout:hover{
 color: black
}

.responsive{
  display: none;
}

@media (max-width:599px){
  .responsive a{
    margin-top: 10px;
    text-decoration: none;
  }
  ul ,li{
    margin: 0;
    padding:0;
    text-align: right;
  }

  .header-content{
    height: 60px;
  }
  .header-left{

  }
  .title{
    font-size: 20px;
    margin-top: 20px;
  }
  .trainer-name{
    display: none;
  }

  /* メニューのレスポンシブ */
  .header-right{
    display: none;
    
  }
  .responsive{
    display: flex;
    height: 2rem;
    width: 150px;
  }
  .fa{
    padding-right: 10px;
  }
  .responsive li {
    list-style: none;
    position: relative;
    margin: 0 0 0 auto;
    width: 110px;
    padding-right: 10px;
  }
  .responsive li li{
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  .responsive li li a {
    border-top: 1px solid #eee;
  }
  .responsive li:hover > ul > li{
    height: 2rem;
    overflow: visible;
  }
}