// Place all the styles related to the plan_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.li{
  margin: 0;
}
.plan_detail_subject{
  display: flex;
}
.plan_detail_subject li{
  margin-right: 10px;
}

.subject_set_rep, .weight,.cardio_time{
  width: 30px;
}
.back_to_index{
  display: block;
  margin-top: 10px;
  text-align: right;
}