<div class= "main">
  <div class="container">
    <div class = "clients">
      <ul class= "client-list">
        <li>
          <img src="samle.img" alt="">
          <p>名前</p>
          <p>店舗名</p>
          <p>目的</p>
          <p>年齢</p>
          <p>次回予約日</p>
        </li>
        <li>
           <img src="samle.img" alt="">
          <p>名前</p>
          <p>店舗名</p>
          <p>目的</p>
          <p>年齢</p>
          <p>次回予約日</p>
        </li>
        <li>
          <img src="samle.img" alt="">
          <p>名前</p>
          <p>店舗名</p>
          <p>目的</p>
          <p>年齢</p>
          <p>次回予約日</p>
        </li>
       </ul>
      </div>
  </div>

</div>